@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">KODOTI Commerce</h1>
    <p>Proyecto desarrollado para el curso de Microservicios con .NET Core.</p>
    <p>
        Para más información visita la <a href="https://kodoti.com/cursos/microservicios-con-net-core
">página del curso</a>.
    </p>

    <hr />

    <div>
        <h3><b>@User.Identity.Name</b>, que bueno tener aquí de nuevo.</h3>
    </div>
</div>
